Complete the exercises below For **Assignment #4**.

Use **Markdown** cells for the non-code answers.

In this assignment we will work with the data underlying the *FiveThirtyEight* article ["Higher Rates Of Hate Crimes Are Tied To Income Inequality"](https://fivethirtyeight.com/features/higher-rates-of-hate-crimes-are-tied-to-income-inequality/).

Load the `tidymodels`, `readr`, and `moderndive` packages in the cell below.

In [2]:
library('tidymodels')
library('readr')
library('moderndive')

Warning message:
‚ÄúFailed to locate timezone database‚Äù
‚îÄ‚îÄ Attaching packages ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidymodels 1.1.1 ‚îÄ‚îÄ

‚úî broom        1.0.5     ‚úî recipes      1.0.9
‚úî dials        1.2.0     ‚úî rsample      1.2.0
‚úî dplyr        1.1.4     ‚úî tibble       3.2.1
‚úî ggplot2      3.4.4     ‚úî tidyr        1.3.0
‚úî infer        1.0.5     ‚úî tune         1.1.2
‚úî modeldata    1.2.0     ‚úî workflows    1.1.3
‚úî parsnip      1.1.1     ‚úî workflowsets 1.0.1
‚úî purrr        1.0.2     ‚úî yardstick    1.2.0

‚îÄ‚îÄ Conflicts ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidymodels_conflicts() ‚îÄ‚îÄ
‚úñ purrr::discard() masks scales::discard()
‚úñ dplyr::filter()  masks stats::filter()
‚úñ dplyr::lag()     masks stats::lag()
‚úñ recipes::step()  masks stats::step()
‚Ä¢ Search for functions across packages at https://www.tidymodels.org/find/


Attaching package: ‚Äòreadr‚Äô


The following object is masked from ‚Äòpackage:yardstick‚Äô:

    spec


The following object is masked from ‚Äòpackage:scales‚Äô:

    col_factor

We can read the data from a **CSV file** at the following URL: [http://bit.ly/2ItxYg3](http://bit.ly/2ItxYg3).

Use the `read_csv` function to read the data into our R session. Call the new table `hate_crimes`.

In [6]:
hate_crimes <- read_csv("http://bit.ly/2ItxYg3")

hate_crimes

Rows: 51 Columns: 9
‚îÄ‚îÄ Column specification ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
Delimiter: ","
chr (5): state, median_house_inc, trump_support, unemployment, urbanization
dbl (4): share_pop_metro, hs, hate_crimes, income

‚Ñπ Use `spec()` to retrieve the full column specification for this data.
‚Ñπ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   state                median_house_inc share_pop_metro hs hate_crimes
1  New Mexico           low              0.69            83 0.295
2  Maine                low              0.54            90 0.616
3  New York             low              0.94            85 0.351
4  Illinois             low              0.90            86 0.195
5  Delaware             high             0.90            87 0.323
6  Rhode Island         high             1.00            85 0.095
7  Oregon               high             0.87            89 0.833
8  Washington           high             0.86            90 0.677
9  California           high             0.97            81 0.256
10 Vermont              high             0.35            91 0.324
11 Colorado             high             0.80            89 0.391
12 Massachusetts        high             0.97            89 0.631
13 New Jersey           high             1.00            87 0.078
14 Virginia             high             0.89            87 0.363
15 Minnesota            high             0.75            92 0.627
16 District of Columbia high             1.00            87 1.522
17 Connecticut          high             0.94            89 0.335
18 Hawaii               high             0.76            90    NA
19 Maryland             high             0.97            89 0.370
20 South Carolina       low              0.79            84 0.210
21 Florida              low              0.96            85 0.188
22 North Carolina       low              0.76            84 0.244
23 Arizona              low              0.90            84 0.225
24 Georgia              low              0.82            84 0.120
25 Ohio                 low              0.75            88 0.191
26 Nevada               low              0.87            84 0.142
27 Michigan             low              0.87            88 0.404
28 Texas                low              0.92            80 0.214
29 Pennsylvania         high             0.87            88 0.285
30 Iowa                 high             0.60            91 0.454
31 Wisconsin            high             0.69            90 0.226
32 Utah                 high             0.82            90 0.137
33 Alaska               high             0.63            91 0.144
34 New Hampshire        high             0.63            91 0.152
35 Mississippi          low              0.45            80 0.067
36 West Virginia        low              0.55            83 0.329
37 Alabama              low              0.64            82 0.126
38 Louisiana            low              0.81            82 0.110
39 Kentucky             low              0.56            82 0.324
40 Tennessee            low              0.82            83 0.200
41 Arkansas             low              0.69            82 0.069
42 Oklahoma             low              0.59            86 0.134
43 Indiana              low              0.79            87 0.247
44 Montana              low              0.34            91 0.495
45 South Dakota         low              0.51            90    NA
46 Idaho                low              0.70            88 0.124
47 Kansas               low              0.64            90 0.105
48 Wyoming              high             0.31            92    NA
49 Missouri             high             0.78            NA 0.185
50 Nebraska             high             0.60            NA 0.159
51 North Dakota         high             0.50            NA    NA
   trump_support unemployment urbanization income
1  low           high         low          46686
2  low           low          low          51710
3  low           low          high         54310
4  low           high         high         54916
5  low           low          high         57522
6  low           high         high         58633
7  low           high         high         58875
8  low           high         high         59068
9  low           high         high         60487
10 low           low          low          60708
11 low           low          high         60940
12 low           low          high         63151
13 low           high         high         65243
14 low           low          high         66155
15 low           low          low          67244
16 low           high         high         68277
17 low           high         high         70161
18 low           low          low          71223
19 low           low          high         76165
20 medium        high         low          44929
21 medium        high         high         46140
22 medium        high         low          46784
23 medium        high         high         49254
24 medium        high         high         49555
25 medium        low          low          49644
26 medium        high         high         49875
27 medium        low          high         52005
28 medium        low          high         53875
29 medium        high         high         55173
30 medium        low          low          57810
31 medium        low          low          58080
32 medium        low          high         63383
33 medium        high         low          67629
34 medium        low          low          73397
35 high          high         low          35521
36 high          high         low          39552
37 high          high         low          42278
38 high          high         high         42406
39 high          low          low          42786
40 high          high         high         43716
41 high          high         low          44922
42 high          low          low          47199
43 high          low          low          48060
44 high          low          low          51102
45 high          low          low          53053
46 high          low          low          53438
47 high          low          low          53444
48 high          low          low          55690
49 high          high         low          56630
50 high          low          low          56870
51 high          low          low          60730

Next, let‚Äôs add the high-school degree variable into the mix by creating a scatterplot showing:

- Income on the y-axis (this is the `income` variable)
- Percent of adults 25 or older with a high school degree on the x-axis (this is the `hs` variable)
- The points colored by level of urbanization in a region (this is the variable `urbanization`)


**In addition, add a line of best fit (regression line) for each level of the variable urbanization (one for ‚Äúlow‚Äù, one for ‚Äúhigh‚Äù).**

*Add the regression lines to the plot using the `geom_parallel_slopes` function from the `moderndive` package. This function will draw the regression lines based on fitting a regression model with parallel slopes (i.e., with no interaction between `hs` and `urbanization`).*

‚ùìWhich regression line (high urbanization or low urbanization) appears to have the larger intercept?

**Answer:**

Now let‚Äôs create a second scatterplot using the same variables, but this time draw the regression lines using `geom_smooth(method = "lm")`, which will allow for separate, non-parallel slopes for each urbanization group. 

**Code you your scatter plot in the cell below.**

‚ùìBased on visually comparing the two models shown above, do you think it would be best to run a ‚Äúparallel slopes‚Äù model (i.e. a model that estimates one shared slope for the two levels of urbanization), or a more complex ‚Äúinteraction model‚Äù (i.e. a model that estimates a separate slope for the two levels of urbanization)?

**Answer:**

Fit the following two regression models that examine the relationship between household `income` (as response variable), and high-school education (`hs`) and `urbanization` as explanatory variables:

1. A parallel slopes model (i.e., no interaction between `hs` and `urbanization`). ‚ùóÔ∏èSave the data recipe and model under the variables `ps_rec` and `ps_mod`, respectively. 
1. A non-parallel slopes model (i.e., allow `hs` and `urbanization` to interact in your model). ‚ùóÔ∏èSave the data recipe and model under the variable: `nps_rec` and `nps_mod`, respectively.

**Code you your models in the cell below.**

In [ ]:
# parallel slopes model

ps_rec = recipe(income ~ hs + urbanization, data = hate_crimes) |> 
    step_naomit(everything()) |>   # remove missing values
    step_dummy(urbanization) |>    # dummy encode the urbanization variable
    prep()                         # run the recipe on the training data provided

mod = linear_reg() |> set_engine('lm')

ps_mod = mod |> fit(income ~ ., juice(ps_rec))

ps_mod

In [ ]:
# non-parallel slopes model

# ‚ùóÔ∏è you can use most of the code above, just add step_interact(~ starts_with("urbanization"):hs) to the recipe and
#    switch the variable names...

The following code creates a table of your model predictions over the training data. Calculate the [coefficient of determination](https://en.wikipedia.org/wiki/Coefficient_of_determination) (R<sup>2</sup>) for each model:

```r
rbind(
    augment(ps_mod, juice(ps_rec)) |> select(income, .pred, .resid) |> mutate(model = "parallel_slopes"),
    augment(nps_mod, juice(nps_rec)) |> select(income, .pred, .resid) |> mutate(model = "interaction")
)
```

1. Group rows by the `model` variable (use the `group_by` function).
1. Calculate the variance of income over the variance of your predictions for each model using the "grouped" data from the step above (use `summarize(r_squared = var(.pred) / var(income))`).

üé∂ Note: you can also use the `glance` function with a model as input to find the coefficient of determination.

In [ ]:
glance(ps_mod)

‚ùìCompare the adjusted proportion of variance account for each model. Based on this comparison, which model do you prefer? Why? 

**Answer:**

‚ùìUsing your preferred model, based on your regression model parameters (and the data visualizations), is `income` greater in states that have lower or higher levels of `urbanization`? By how much?

**Hint:** use the `tidy` function with your model as input to access the parameters in a nice table.

**Answer:**

‚ùìFor every one percentage point increase of high-school educated adults in a state (`hs` variable), what is the associated average increase in `income`?

**Answer:**